Repository TypeCobolTeam/TypeCobol, pull requests merged in 2019-04, with the labels that each got.

#1346 WI #1302 TypeCobolLinker refactoring
  CLI/test/CLITest.cs
  CLI/test/ressources/CircularTypedef_1/CLIArguments.txt
  CLI/test/ressources/CircularTypedef_1/input/DepA.tcbl
  CLI/test/ressources/CircularTypedef_1/input/DepB.tcbl
  CLI/test/ressources/CircularTypedef_1/input/MainPgm.tcbl
  CLI/test/ressources/CircularTypedef_1/output_expected/error.txt
  CLI/test/ressources/CircularTypedef_1/readme.txt
  CLI/test/ressources/dependenciesNotLoadedInCorrectOrder/CLIArguments.txt
  CLI/test/ressources/dependenciesNotLoadedInCorrectOrder/input/DVZTEST1.rdz.tcbl
  CLI/test/ressources/dependenciesNotLoadedInCorrectOrder/input/DVZTEST2.rdz.tcbl
  CLI/test/ressources/dependenciesNotLoadedInCorrectOrder/input/MainPgm.rdz.tcbl
  CLI/test/ressources/dependenciesNotLoadedInCorrectOrder/output_expected/error.txt
  CLI/test/ressources/dependenciesNotLoadedInCorrectOrder_2/CLIArguments.txt
  CLI/test/ressources/dependenciesNotLoadedInCorrectOrder_2/input/DVZTEST1.rdz.tcbl
  CLI/test/ressources/dependenciesNotLoadedInCorrectOrder_2/input/DVZTEST2.rdz.tcbl
  CLI/test/ressources/dependenciesNotLoadedInCorrectOrder_2/input/MainPgm.rdz.tcbl
  CLI/test/ressources/dependenciesNotLoadedInCorrectOrder_2/output_expected/MainPgm.rdz.tcbl
  CLI/test/ressources/dependenciesNotLoadedInCorrectOrder_2/output_expected/error.txt
  CLI/test/ressources/dependencies_7_bad_call_proc/CLIArguments.txt
  CLI/test/ressources/dependencies_7_bad_call_proc/input/Callee.rdz.tcbl
  CLI/test/ressources/dependencies_7_bad_call_proc/input/ProcedureCall-Public.rdz.tcbl
  CLI/test/ressources/dependencies_7_bad_call_proc/output_expected/error.txt
  CLI/test/ressources/dependencies_7_bad_call_proc/readme.txt
  Codegen/src/Nodes/ParameterEntry.cs
  TypeCobol.Test/Parser/Programs/Cobol2002/ParserIntegration.rdzPGM.txt
  TypeCobol.Test/Parser/Programs/Cobol2002/Typedef3-global.rdz.tcbl
  TypeCobol.Test/Parser/Programs/Cobol2002/Typedef3-global.rdzMix.txt
  TypeCobol.Test/Parser/Programs/TypeCobol/CircularReferenceType.rdz.tcbl
  TypeCobol.Test/Parser/Programs/TypeCobol/CircularReferenceType.rdzMix.txt
  TypeCobol.Test/Parser/Programs/TypeCobol/CircularReferenceType.rdzPGM.txt
  TypeCobol/Compiler/CodeModel/SymbolTable.cs
  TypeCobol/Compiler/CompilationUnit.cs
  TypeCobol/Compiler/CupParser/NodeBuilder/ProgramClassBuilder.cs
  TypeCobol/Compiler/Diagnostics/Cobol2002Checker.cs
  TypeCobol/Compiler/Diagnostics/TypeCobolChecker.cs
  TypeCobol/Compiler/Diagnostics/TypeCobolLinker.cs
  TypeCobol/Compiler/Nodes/Data.cs
  TypeCobol/Compiler/Parser/ProgramClassParserStep.cs
  TypeCobol/Compiler/Parser/TemporarySemanticDocument.cs
Labels: Bug, Enhancement, Performance

#1353 WI #1130 Remove flag FormalizedCommentLineEnd
  TypeCobol/Compiler/Scanner/MultilineScanState.cs
Labels: TC-Comment, TypeCobol

#1352 WI #1350 Make changes to avoid theses index out of range exceptions
  TypeCobol.LanguageServer.Test/LSRTest.cs
  TypeCobol.LanguageServer.Test/LSRTests/BeginTopLineEnterEnter/input/BeginTopLineEnterEnter.tlsp
  TypeCobol.LanguageServer.Test/LSRTests/BeginTopLineEnterEnter/output_expected/BeginTopLineEnterEnter.rlsp
  TypeCobol.LanguageServer.Test/LSRTests/SelectEndSuppressSaveUndo/input/SelectEndSuppressSaveUndo.tlsp
  TypeCobol.LanguageServer.Test/LSRTests/SelectEndSuppressSaveUndo/output_expected/SelectEndSuppressSaveUndo.rlsp
  TypeCobol.LanguageServer.Test/TypeCobol.LanguageServer.Test.csproj
  TypeCobol.LanguageServer/TypeCobolServer.cs
  TypeCobol/Compiler/CompilationDocument.cs
Labels: Language Server Protocol, TypeCobol

#1354 WI #1351 Take in account if the parser goes beyond the parsing section.
  TypeCobol.LanguageServer.Test/LSRTest.cs
  TypeCobol.LanguageServer.Test/LSRTests/FirstLineEditCommentBeforeIdentDiv/input/FirstLineEditCommentBeforeIdentDiv.tlsp
  TypeCobol.LanguageServer.Test/LSRTests/FirstLineEditCommentBeforeIdentDiv/output_expected/FirstLineEditCommentBeforeIdentDiv.rlsp
  TypeCobol.LanguageServer.Test/TypeCobol.LanguageServer.Test.csproj
  TypeCobol/Compiler/Parser/CodeElementsParserStep.cs
Labels: Bug, TypeCobol

#1359 1358 codegen line map
  CLI/src/CLI.cs
  Codegen/src/Generator.cs
  Codegen/src/GeneratorFactory.cs
  Codegen/src/GeneratorFactoryManager.cs
  Codegen/src/Generators/DefaultGenerator.cs
  Codegen/src/Generators/DefaultGeneratorWithLineMap.cs
  Codegen/src/Generators/DocumentationGenerator.cs
  Codegen/src/Generators/ExpandingCopyGenerator.cs
  Codegen/src/Generators/LinearNodeSourceCodeMapper.cs
  Codegen/src/Generators/MixedTransformGenerator.cs
  Codegen/src/Generators/SignaturesGenerator.cs
  Codegen/src/Generators/TypeCobolGenerator.cs
  Codegen/src/IGenerator.cs
  TypeCobol/Compiler/Source/SourceText.cs
  TypeCobol/Tools/Options-Config/TypeCobolConfiguration.cs
Labels: Codegen
