Repository TypeCobolTeam/TypeCobol, pull requests merged in 2020-12, with the labels that each got.

#1817 WI #1811 Avoid null indirection
  TypeCobol.LanguageServer/TypeCobolServer.cs
Labels: Bug, Language Server Protocol, User Visible

#1812 WI #1622 Add unhandled exception handler.
  TypeCobol.LanguageServer/JsonRPC/IRPCServer.cs
  TypeCobol.LanguageServer/JsonRPC/JsonRPCServer.cs
  TypeCobol.LanguageServer/VsCodeProtocol/LanguageServer.cs
Labels: Language Server Protocol, 🔍 Ready for Review

#1794 1752 handle copy replacing with 4colon ol
  Codegen/test/Codegen.Test.csproj
  Codegen/test/TestTypeCobolCodegen.cs
  Codegen/test/resources/input/TypeCobol/CopyReplace4Colon/CopyReplace4Colon.rdz.cbl
  Codegen/test/resources/output/TypeCobol/CopyReplace4Colon/CopyReplace4Colon.rdz.cbl
  TypeCobol.Test/Parser/Programs/Cobol85/CopyReplace4Colon.rdz.cbl
  TypeCobol.Test/Parser/Programs/Cobol85/CopyReplace4Colon.rdzPGM.txt
  TypeCobol.Test/Parser/Programs/Cobol85/CopyReplace4Colon1.rdz.cbl
  TypeCobol.Test/Parser/Programs/Cobol85/CopyReplace4Colon1.rdzPGM.txt
  TypeCobol.Test/Parser/Programs/Cobol85/CopyReplace4ColonErr.rdz.cbl
  TypeCobol.Test/Parser/Programs/Cobol85/CopyReplace4ColonErr.rdzPGM.txt
  TypeCobol.Test/Parser/Programs/Cobol85/CopyReplace4ColonMultiCopy.rdz.cbl
  TypeCobol.Test/Parser/Programs/Cobol85/CopyReplace4ColonMultiCopy.rdzPGM.txt
  TypeCobol.Test/Parser/Programs/Cobol85/YDVZOSM.cpy
  TypeCobol.Test/Parser/Programs/Cobol85/YxxxENT.cpy
  TypeCobol.Test/Parser/Programs/Cobol85/YxxxENT2.cpy
  TypeCobol.Test/Parser/Scanner/ResultFiles/PseudoText2.txt
  TypeCobol.Test/Parser/Scanner/TestTokenTypes.cs
  TypeCobol.Test/TestCollection.cs
  TypeCobol/Compiler/CompilationDocument.cs
  TypeCobol/Compiler/CupPreprocessor/CompilerDirectiveBuilder.cs
  TypeCobol/Compiler/Preprocessor/ReplaceTokensLinesIterator.cs
  TypeCobol/Compiler/Scanner/MultilineScanState.cs
  TypeCobol/Compiler/Scanner/Scanner.cs
  TypeCobol/Compiler/Scanner/Token.cs
Labels: 🔍 Ready for Review

#1820 WI #1750 Add DataDefinition nodes having initial value to START Block.
  TypeCobol.Analysis.Test/BasicCfgPrograms/HanoiPrg.dot
  TypeCobol.Analysis.Test/DfaBuildUseAndDefListTest.cs
  TypeCobol.Analysis.Test/DfaCallPgmReport.cs
  TypeCobol.Analysis.Test/Report/ProcCallPgm.cbl
  TypeCobol.Analysis.Test/Report/ProcCallPgm.csv
  TypeCobol.Analysis/Dfa/DataFlowGraphBuilder.cs
  TypeCobol.Analysis/Dfa/DefaultDataFlowGraphBuilder.cs
  TypeCobol.Analysis/Dfa/ValueOrigin.cs
Labels: DataFlow

#1824 1260 add dfa support rebase
  CLI/src/CLI.cs
  CLI/test/CLI.Test.csproj
  CLI/test/CLITest.cs
  CLI/test/ressources/zcallpgmreportdfa_1/CLIArguments.txt
  CLI/test/ressources/zcallpgmreportdfa_2/CLIArguments.txt
  TypeCobol.Analysis.Test/BasicCfgInstrs/ExtendedPerformProc1Recursive0.dot
  TypeCobol.Analysis.Test/BasicCfgProgramTest.cs
  TypeCobol.Analysis.Test/BasicCfgPrograms/HanoiPrg.cbl
  TypeCobol.Analysis.Test/BasicCfgPrograms/HanoiPrg.dot
  TypeCobol.Analysis.Test/BasicControlFlowInstructionTest.cs
  TypeCobol.Analysis.Test/BasicDfaSamples/SampleGotos0.cbl
  TypeCobol.Analysis.Test/BasicDfaSamples/SampleGotos0.dfa.csv
  TypeCobol.Analysis.Test/BasicDfaSamples/SampleGotos0.dot
  TypeCobol.Analysis.Test/BasicDfaSamplesTest.cs
  TypeCobol.Analysis.Test/BitSetTest.cs
  TypeCobol.Analysis.Test/CfgDfaBuildTests/EmptyCfg.dot
  TypeCobol.Analysis.Test/CfgDfaBuildTests/ExecSqlOutsideProc.cbl
  TypeCobol.Analysis.Test/CfgDfaBuildTests/PrgWithNoProcDiv.cbl
  TypeCobol.Analysis.Test/CfgDfaBuildingTests.cs
  TypeCobol.Analysis.Test/CfgTestResults.cs
  TypeCobol.Analysis.Test/CfgTestUtils.cs
  TypeCobol.Analysis.Test/DfaBuildUseAndDefListTest.cs
  TypeCobol.Analysis.Test/DfaCallPgmReport.cs
  TypeCobol.Analysis.Test/Report/InBulkCallPgm.cbl
  TypeCobol.Analysis.Test/Report/InBulkCallPgm.csv
  TypeCobol.Analysis.Test/Report/InBulkCallPgm88Set.cbl
  TypeCobol.Analysis.Test/Report/InBulkCallPgm88Set.csv
  TypeCobol.Analysis.Test/Report/ProcCallPgm.cbl
  TypeCobol.Analysis.Test/Report/ProcCallPgm.csv
  TypeCobol.Analysis.Test/TypeCobol.Analysis.Test.csproj
  TypeCobol.Analysis/Cfg/ControlFlowGraphBuilder.cs
  TypeCobol.Analysis/Cfg/DefaultControlFlowGraphBuilder.cs
  TypeCobol.Analysis/CfgDfaAnalyzerFactory.cs
  TypeCobol.Analysis/Dfa/DataFlowGraphBuilder.cs
  TypeCobol.Analysis/Dfa/DefaultDataFlowGraphBuilder.cs
  TypeCobol.Analysis/Dfa/DfaBasicBlockInfo.cs
  TypeCobol.Analysis/Dfa/DfaDefPoint.cs
  TypeCobol.Analysis/Dfa/DfaUsePoint.cs
  TypeCobol.Analysis/Dfa/ValueOrigin.cs
  TypeCobol.Analysis/Graph/BasicBlock.cs
  TypeCobol.Analysis/Graph/CfgDotFileForNodeGenerator.cs
  TypeCobol.Analysis/Graph/ControlFlowGraph.cs
  TypeCobol.Analysis/Report/ZCallPgmReport.cs
  TypeCobol.Analysis/TypeCobol.Analysis.csproj
  TypeCobol.Analysis/Util/Antlr4_license.txt
  TypeCobol.Analysis/Util/BitSet.cs
  TypeCobol.LanguageServer/Workspace.cs
  TypeCobol.Test/Report/Output/RPTCAL01.rpt
  TypeCobol.Test/Report/ReportTest.cs
  TypeCobol/Compiler/CodeElements/Statement/SetStatement.cs
  TypeCobol/Compiler/Diagnostics/Resources/DiagnosticMessages.csv
  TypeCobol/Compiler/Domain/ProgramSymbolTableBuilder.cs
  TypeCobol/Compiler/Report/CopyMoveInitializeReport.cs
  TypeCobol/Compiler/Report/IReport.cs
  TypeCobol/Compiler/Report/ZCallPgmReport.cs
  TypeCobol/Compiler/Symbols/VariableSymbol.cs
  TypeCobol/Tools/Options-Config/TypeCobolConfiguration.cs
Labels: 🔍 Ready for Review

#1821 WI #1746 Support EXEC SQL statements inside a data definition
  TypeCobol.Test/Parser/Programs/Cobol85/CopyWithExecSqlAndData1.cpy
  TypeCobol.Test/Parser/Programs/Cobol85/CopyWithExecSqlAndData2.cpy
  TypeCobol.Test/Parser/Programs/Cobol85/CopyWithExecSqlOnly.cpy
  TypeCobol.Test/Parser/Programs/Cobol85/ExecSqlInDataDivision.rdz.cbl
  TypeCobol.Test/Parser/Programs/Cobol85/ExecSqlInDataDivision.rdzMix.txt
  TypeCobol/Compiler/CupParser/NodeBuilder/ProgramClassBuilder.cs
  TypeCobol/Compiler/Diagnostics/CrossChecker.cs
Labels: 🔍 Ready for Review
