Repository TypeCobolTeam/TypeCobol, pull requests merged in 2021-03, with the labels that each got.

#1822 WI #86 #317 Improve support of SYMBOLIC CHARACTERS
  TypeCobol.Test/NewTestsToFix/Parser/ResultFiles/LowPriority/SpecialNameParagraphValueUsedInCopy.rdzPGM.txt
  TypeCobol.Test/NewTestsToFix/Parser/Samples/LowPriority/SpecialNameParagraphValueUsedInCopy.rdz.cbl
  TypeCobol.Test/NewTestsToFix/Parser/Samples/LowPriority/SpecialNameParagraphValueUsedInCopyCPY1.cpy
  TypeCobol.Test/NewTestsToFix/Parser/Samples/LowPriority/SpecialNameParagraphValueUsedInCopyCPY2.cpy
  TypeCobol.Test/Parser/Programs/Cobol85/CopyUsingSpecialNames.cpy
  TypeCobol.Test/Parser/Programs/Cobol85/SpecialNamesParagraph.rdz-Nodes.txt
  TypeCobol.Test/Parser/Programs/Cobol85/SpecialNamesParagraph.rdz.cbl
  TypeCobol/AntlrGrammar/CobolWords.g4
  TypeCobol/Compiler/Parser/CodeElementBuilder/CobolCodeElementBuilder.cs
  TypeCobol/Compiler/Parser/CodeElementBuilder/CobolWordsBuilder.cs
Labels: 🔍 Ready for Review

#1905 WI #1858 Avoid duplicating TypeDefinition of builtin types
  CLI/test/CLITest.cs
  CLI/test/ressources/dependenciesNotLoadedInCorrectOrder/output_expected/error.txt
  CLI/test/ressources/dependenciesSignatureOverload_2/CLIArguments.txt
  CLI/test/ressources/dependenciesSignatureOverload_2/input/Dependency.tcbl
  CLI/test/ressources/dependenciesSignatureOverload_2/input/Intrinsic.tcbl
  CLI/test/ressources/dependenciesSignatureOverload_2/input/Main.tcbl
  CLI/test/ressources/dependenciesSignatureOverload_2/output_expected/Main.cbl
  CLI/test/ressources/dependenciesSignatureOverload_2/output_expected/errors.txt
  CLI/test/ressources/dependenciesSignatureOverload_3/CLIArguments.txt
  CLI/test/ressources/dependenciesSignatureOverload_3/input/Dependency.tcbl
  CLI/test/ressources/dependenciesSignatureOverload_3/input/Main.tcbl
  CLI/test/ressources/dependenciesSignatureOverload_3/output_expected/errors.txt
  TypeCobol.Test/Parser/Programs/TypeCobol/ProcedureCall.rdzPGM.txt
  TypeCobol/Compiler/CodeElements/Entry/DataType.cs
  TypeCobol/Compiler/CupParser/NodeBuilder/ProgramClassBuilder.cs
  TypeCobol/Compiler/Diagnostics/TypeCobolChecker.cs
Labels: TypeCobol

#1902 WI #1895 Allow figurative constants in ALPHABET and CLASS definitions
  TypeCobol.Test/Parser/Programs/Cobol85/SpecialNamesParagraph.rdz.cbl
  TypeCobol/AntlrGrammar/CobolCodeElements.g4
  TypeCobol/Compiler/CodeElements/Paragraph/SpecialNamesParagraph.cs
  TypeCobol/Compiler/Parser/CodeElementBuilder/CobolCodeElementBuilder.cs
Labels: Grammar Change

#1915 WI #1805 Fix NRE when SET xxx UP TO xxx is used instead of UP BY
  TypeCobol.Test/Parser/CodeElements/SETForIndexes.cbl
  TypeCobol.Test/Parser/CodeElements/SETForIndexes.txt
  TypeCobol/Compiler/Diagnostics/CodeElementCheckers.cs
  TypeCobol/Compiler/Diagnostics/TypeCobolChecker.cs
  TypeCobol/Compiler/Nodes/Attributes.cs
  TypeCobol/Compiler/Parser/CodeElementBuilder/CobolExpressionsBuilder.cs
Labels: Bug, Cobol, User Visible

#1921 WI #1920 Add a -team option for LSP client
  TypeCobol.LanguageServer.Test/LSRTestHelper.cs
  TypeCobol.LanguageServer/TypeCobolCustomLanguageServer/TypeCobolCustomLanguageServer.cs
Labels: Language Server Protocol
