Repository TypeCobolTeam/TypeCobol, pull requests merged in 2021-04, with the labels that each got.

#1927 WI #1918 We must treat :: as a pure TypeCobol feature
  CLI/test/CLI.Test.csproj
  CLI/test/CLITest.cs
  CLI/test/ressources/failcoboloptionparse/CLIArguments.txt
  CLI/test/ressources/failcoboloptionparse/output_expected/error.txt
  TypeCobol.Test/Parser/Preprocessor/ReplaceResultFiles/PgmReplacePartialTC.txt
  TypeCobol.Test/Parser/Preprocessor/TestReplaceDirective.cs
  TypeCobol.Test/Parser/Programs/TypeCobol/QualifiedVarSubsriptAccess.rdz.tcbl
  TypeCobol.Test/Parser/Programs/TypeCobol/QualifiedVarSubsriptAccess.rdzPGM.txt
  TypeCobol.Test/Parser/Scanner/ResultFiles/PartialCobolWordsTC.txt
  TypeCobol.Test/Parser/Scanner/TestTokenTypes.cs
  TypeCobol.Test/TestCollection.cs
  TypeCobol.Test/Utils/Comparator.cs
  TypeCobol/Compiler/Directives/TypeCobolOptions.cs
  TypeCobol/Compiler/Scanner/Scanner.cs
  TypeCobol/Tools/Options-Config/TypeCobolConfiguration.cs
Labels: Bug, TypeCobol

#1931 #1887 search all check when use first index and one key
  TypeCobol.Test/Parser/Programs/Cobol85/SearchAllWhen.rdz.cbl
  TypeCobol.Test/Parser/Programs/Cobol85/SearchAllWhen.rdzMix.txt
  TypeCobol/Compiler/Diagnostics/CrossChecker.cs
Labels: Cobol

#1932 1732 review changes
  CLI/src/Daemon.cs
  CLI/test/CLI.Test.csproj
  CLI/test/ressources/arguments_errors_1/ExpectedConsole.txt
  Codegen/test/CodegenTestUtils.cs
  Codegen/test/TestTypeCobolCodegen.cs
  TypeCobol.Analysis.Test/CfgTestUtils.cs
  TypeCobol.LanguageServer/TypeCobolServer.cs
  TypeCobol.LanguageServer/TypeCobolServerHost.cs
  TypeCobol.LanguageServer/Workspace.cs
  TypeCobol.Test/HighLevelAPI/TestLTNV.cs
  TypeCobol.Test/Parser/EILegacy/CpyCopies.lst
  TypeCobol.Test/Utils/Comparator.cs
  TypeCobol/Compiler/Directives/TypeCobolOptions.cs
  TypeCobol/Compiler/Preprocessor/CopyNameMapFile.cs
  TypeCobol/Parser.cs
  TypeCobol/Tools/Options-Config/TypeCobolConfiguration.cs
Labels: Cobol, Enhancement, TypeCobol

#1922 WI #1899 #1749 Accept missing space after dot
  TypeCobol.Test/Parser/Copies/WithDiagnostics.rdzMix.txt
  TypeCobol.Test/Parser/Programs/Cobol85/MissingSpaceAfterDot.rdz.cbl
  TypeCobol.Test/Parser/Programs/Cobol85/MissingSpaceAfterDot.rdzMix.txt
  TypeCobol.Test/Parser/Programs/Cobol85/MissingSpaceAfterDotDecimalPointIsComma.rdz.cbl
  TypeCobol.Test/Parser/Programs/Cobol85/MissingSpaceAfterDotDecimalPointIsComma.rdzMix.txt
  TypeCobol.Test/Parser/Scanner/ResultFiles/Separators-continuations.txt
  TypeCobol.Test/Parser/Scanner/ResultFiles/Separators2.txt
  TypeCobol/Compiler/Diagnostics/MessageCode.cs
  TypeCobol/Compiler/Diagnostics/Resources/DiagnosticMessages.csv
  TypeCobol/Compiler/Scanner/Scanner.cs
Labels: Bug, Cobol, To Fix, User Visible

#1944 WI #1937 Add -ca option to LSP server
  CLI/src/Daemon.cs
  TypeCobol.LanguageServer/TypeCobolServer.cs
  TypeCobol.LanguageServer/TypeCobolServerHost.cs
  TypeCobol.LanguageServer/Workspace.cs
  TypeCobol/Tools/Options-Config/TypeCobolConfiguration.cs
Labels: Language Server Protocol

#1953 WI #1949 Allow analyzers to access their diagnostics
  TypeCobol.Analysis.Test/CustomAnalyzers/Analyzers.cs
  TypeCobol.Analysis/Cfg/ControlFlowGraphBuilder.cs
  TypeCobol/Analysis/QualityAnalyzerBase.cs
  TypeCobol/Compiler/CupParser/NodeBuilder/SyntaxDrivenAnalyzerBase.cs
Labels: QualityCheck
