Repository TypeCobolTeam/TypeCobol, pull requests merged in 2021-08, with the labels that each got.

#2017 WI #2012 Add diagnostic on PIC X to Numeric with usage
  TypeCobol.Analysis.Test/BasicCfgInstrs/CGM110.diag
  TypeCobol.Test/Parser/Programs/Cobol85/MoveAlphanumericToNumeric.rdz.cbl
  TypeCobol.Test/Parser/Programs/Cobol85/MoveAlphanumericToNumeric.rdzMix.txt
  TypeCobol/Compiler/Diagnostics/CrossChecker.cs
Labels: Cobol, ErrorMessage, 🔍 Ready for Review

#1986 WI #1985 Add -cpyr option
  CLI/src/CLI.cs
  TypeCobol/Compiler/CompilationDocument.cs
  TypeCobol/Compiler/CupPreprocessor/CompilerDirectiveBuilder.cs
  TypeCobol/Compiler/Directives/TypeCobolOptions.cs
  TypeCobol/Compiler/Preprocessor/CompilerDirectiveBuilder.cs
  TypeCobol/Compiler/Preprocessor/PreprocessorStep.cs
  TypeCobol/Tools/Options-Config/TypeCobolConfiguration.cs
Labels: Cobol, TypeCobol

#1979 WI #1975 Add cpyCopies field
  TypeCobol.LanguageServer.Test/LSRTests/RefreshCopiesNotif/input/RefreshCopyNotif.tlsp
  TypeCobol.LanguageServer/TypeCobolCustomLanguageServer/Missing Copies Notification/MissingCopiesParams.cs
  TypeCobol.LanguageServer/TypeCobolCustomLanguageServer/TypeCobolCustomLanguageServer.cs
  TypeCobol.LanguageServer/TypeCobolServer.cs
Labels: Language Server Protocol

#2025 WI #1917 Improve error messages on unexpected dots
  TypeCobol.Test/Parser/Programs/Cobol85/ConsecutiveDots.rdz.cbl
  TypeCobol.Test/Parser/Programs/Cobol85/ConsecutiveDots.rdzMix.txt
  TypeCobol/Compiler/Types/PictureValidator.cs
Labels: 🔍 Ready for Review

#2029 WI #1834 Upgrade to .NET Framework 4.7.2
  Analytics/packages.config
  CLI/test/CLI.Test.csproj
  CSCup/App.config
  Codegen/src/App.config
  Codegen/src/Codegen.csproj
  Codegen/src/packages.config
  Codegen/test/Codegen.Test.csproj
  TypeCobol.Analysis/packages.config
  TypeCobol.LanguageServer.Test/TypeCobol.LanguageServer.Test.csproj
  TypeCobol.LanguageServer.Test/packages.config
  TypeCobol.LanguageServer/App.config
  TypeCobol.LanguageServer/packages.config
  TypeCobol.Test/TypeCobol.Test.csproj
  TypeCobol.Test/packages.config
  TypeCobol.Transform.Test/TypeCobol.Transform.Test.csproj
  TypeCobol.Transform/App.config
  TypeCobol/Common.props
  TypeCobol/packages.config
Labels: 🔍 Ready for Review

#2033 WI #1991 Check reference modifiers
  TypeCobol.Test/Parser/CodeElements/SEARCH.cbl
  TypeCobol.Test/Parser/Programs/Cobol85/ReferenceModifiers.rdz.cbl
  TypeCobol.Test/Parser/Programs/Cobol85/ReferenceModifiers.rdzMix.txt
  TypeCobol/Compiler/Diagnostics/CodeElementCheckers.cs
  TypeCobol/Compiler/Parser/CodeElementBuilder/CobolExpressionsBuilder.cs
Labels: Cobol, ErrorMessage, 🔍 Ready for Review
