Repository TypeCobolTeam/TypeCobol, pull requests merged in 2021-07, with the labels that each got.

#1994 WI #1926 Correct duplicate diagnostics on CALL using special register by reference
  TypeCobol.Test/Parser/CodeElements/CALL.ko.cbl
  TypeCobol.Test/Parser/CodeElements/CALL.ko.txt
  TypeCobol/Compiler/Diagnostics/CodeElementCheckers.cs
Labels: Cobol, ErrorMessage, TypeCobol, rfc, 🔍 Ready for Review

#2015 WI #2014 Add basic dominator algorithms
  TypeCobol.Analysis.Test/BasicCfgPrograms/HanoiPrg.doms
  TypeCobol.Analysis.Test/BasicCfgPrograms/HanoiPrg.idoms
  TypeCobol.Analysis.Test/CfgDfaDominatorTests.cs
  TypeCobol.Analysis.Test/TypeCobol.Analysis.Test.csproj
  TypeCobol.Analysis/Graph/ControlFlowGraph.Dominator.cs
  TypeCobol.Analysis/Graph/ControlFlowGraph.cs
  TypeCobol.Analysis/TypeCobol.Analysis.csproj
  TypeCobol.Analysis/Util/BitSet.cs
Labels: DataFlow, TypeCobol, 🔍 Ready for Review

#2013 WI #2011 Add -now --nowatchers options
  TypeCobol.LanguageServer/TypeCobolCustomLanguageServer/TypeCobolCustomLanguageServer.cs
  TypeCobol.LanguageServer/TypeCobolServer.cs
  TypeCobol.LanguageServer/TypeCobolServerHost.cs
  TypeCobol.LanguageServer/Workspace.cs
Labels: Editor, Language Server Protocol, Performance, 🔍 Ready for Review

#2010 WI #2009 Bad assign DiagnosticsDetected elsewhere
  TypeCobol.LanguageServer/TypeCobolServer.cs
  TypeCobol.LanguageServer/Workspace.cs
Labels: 🔍 Ready for Review

#2006 WI #2005 Convert ClassCondition.DataItem to ConditionalOperand
  TypeCobol.Test/Misc/Expressions-expected.txt
  TypeCobol/Compiler/CodeElements/Expressions/Expression.cs
  TypeCobol/Compiler/Parser/CodeElementBuilder/CobolExpressionsBuilder.cs
Labels: Bug, Cobol, 🔍 Ready for Review

#2003 WI #2000 Add resolved paragraphs and sections to Sort node
  TypeCobol.Test/Parser/Programs/Cobol85/ParagraphSection.rdz.cbl
  TypeCobol.Test/Parser/Programs/Cobol85/ParagraphSection.rdzPGM.txt
  TypeCobol/Compiler/Diagnostics/CrossChecker.cs
  TypeCobol/Compiler/Nodes/Statement.cs
Labels: Cobol, Enhancement

#2004 WI #400 Check subscripts
  Codegen/src/Nodes/ProcedureDivision.cs
  TypeCobol.Analysis.Test/BasicCfgInstrs/Declaratives1.cbl
  TypeCobol.Analysis.Test/BasicCfgInstrs/Declaratives1.dot
  TypeCobol.Analysis.Test/BasicCfgInstrs/SearchCond0.cbl
  TypeCobol.Analysis.Test/BasicCfgInstrs/SearchCond0.dot
  TypeCobol.Analysis.Test/DfaBuildUseAndDefListTest.cs
  TypeCobol.LanguageServer.Test/LSRTests/MoveZeroSpaceCompletion/input/MoveZeroSpaceCompletion.tlsp
  TypeCobol.Test/Parser/Programs/Cobol85/Subscripts.rdz.cbl
  TypeCobol.Test/Parser/Programs/Cobol85/Subscripts.rdzPGM.txt
  TypeCobol.Test/Parser/Programs/TypeCobol/ProcedureCallWithArray.rdz.tcbl
  TypeCobol.Test/Parser/Programs/TypeCobol/ProcedureCallWithArray.rdzMix.txt
  TypeCobol.Test/Parser/Programs/TypeCobol/TablesPGM.txt
  TypeCobol.Test/Parser/Programs/TypeCobol/TablesSYM.txt
  TypeCobol/Compiler/CodeElements/Expressions/StorageArea.cs
  TypeCobol/Compiler/Diagnostics/CodeElementCheckers.cs
  TypeCobol/Compiler/Diagnostics/CrossChecker.cs
  TypeCobol/Compiler/Diagnostics/TypeCobolChecker.cs
  TypeCobol/Compiler/Parser/CodeElementBuilder/CobolExpressionsBuilder.cs
  TypeCobol/Compiler/Parser/CodeElementBuilder/TypeCobolCodeElementBuilder.cs
Labels: 🔍 Ready for Review
