Repository TypeCobolTeam/TypeCobol, pull requests merged in 2022-06, with the labels that each got.

#2215 2167 support procedure name in area a alternate solution
  TypeCobol.Test/Parser/Preprocessor/DirectiveResultFiles/Delete.txt
  TypeCobol.Test/Parser/Preprocessor/DirectiveResultFiles/Insert.txt
  TypeCobol.Test/Parser/Programs/Cobol85/NonUsualProcedureName.rdz.cbl
  TypeCobol.Test/Parser/Programs/Cobol85/NonUsualProcedureName.rdzMix.txt
  TypeCobol.Test/Parser/Programs/Cobol85/SubtractionAsUserDefinedWord.rdz.cbl
  TypeCobol.Test/Parser/Programs/Cobol85/SubtractionAsUserDefinedWord.rdzMix.txt
  TypeCobol.Test/Parser/Scanner/ResultFiles/ArithmeticOperators.txt
  TypeCobol.Test/Parser/Scanner/ResultFiles/NumericLiterals.txt
  TypeCobol.Test/Parser/Scanner/ResultFiles/NumericLiteralsComma.txt
  TypeCobol.Test/Parser/Scanner/ResultFiles/UserDefinedWords.txt
  TypeCobol.Test/Parser/Scanner/TestTokenTypes.cs
  TypeCobol/Compiler/CupCommon/CobolWordsTokenizer.cs
  TypeCobol/Compiler/CupPreprocessor/CobolCompilerDirectives.cup
  TypeCobol/Compiler/CupPreprocessor/CobolCompilerDirectivesParser.cs
  TypeCobol/Compiler/CupPreprocessor/CompilerDirectiveBuilder.cs
  TypeCobol/Compiler/Diagnostics/CodeElementCheckers.cs
  TypeCobol/Compiler/Diagnostics/CrossChecker.cs
  TypeCobol/Compiler/Scanner/MultilineScanState.cs
  TypeCobol/Compiler/Scanner/Scanner.cs
  TypeCobol/Compiler/Text/CobolChar.cs
Labels: 🔍 Ready for Review

#2255 2246 integrate whenever statement
  TypeCobol.LanguageServer.Test/LSRTests/EmptyExecStatement/input/EmptyExecStatement.tlsp
  TypeCobol.Test/Parser/Programs/Cobol85/ExecSql/ExecInDataDivision_NoEndExec.rdzMix.txt
  TypeCobol.Test/Parser/Programs/Cobol85/ExecSql/ExecSqlWithWhenEverStatement.rdz.cbl
  TypeCobol.Test/Parser/Programs/Cobol85/ExecSql/ExecSqlWithWhenEverStatement.rdzSQL.txt
  TypeCobol.Test/Utils/Comparator.cs
  TypeCobol/AntlrGrammar/CobolCodeElements.g4
  TypeCobol/Compiler/CodeElements/CobolLanguageLevelVisitor.cs
  TypeCobol/Compiler/CodeElements/CodeElementType.cs
  TypeCobol/Compiler/CodeElements/StatementElement.cs
  TypeCobol/Compiler/CupParser/EmptyTypeCobolProgram.cup
  TypeCobol/Compiler/CupParser/NodeBuilder/IProgramClassBuilder.cs
  TypeCobol/Compiler/CupParser/NodeBuilder/ProgramClassBuilder.cs
  TypeCobol/Compiler/CupParser/NodeBuilder/ProgramClassBuilderNodeDispatcher.cs
  TypeCobol/Compiler/CupParser/NodeBuilder/ProgramClassBuilderNodeListener.cs
  TypeCobol/Compiler/CupParser/TypeCobolProgram.cup
  TypeCobol/Compiler/CupParser/TypeCobolProgramParser.cs
  TypeCobol/Compiler/CupParser/TypeCobolProgramSymbols.cs
  TypeCobol/Compiler/Parser/CodeElementBuilder/CobolCodeElementBuilder.cs
  TypeCobol/Compiler/Sql/CodeElements/SqlCodeElementBuilder.cs
  TypeCobol/Compiler/Sql/CodeElements/SqlStatementElement.cs
  TypeCobol/Compiler/Sql/CodeElements/Statements/WhenEverStatement.cs
  TypeCobol/Compiler/Sql/Nodes/WhenEver.cs
  TypeCobol/Compiler/Sql/Scanner/SqlScanner.cs
Labels: SQL Parser

#2239 WI #2225 Define SQL Column Name
  TypeCobol.Test/Parser/Programs/Cobol85/ExecSql/ExecSqlWithFromClause.rdz.cbl
  TypeCobol.Test/Parser/Programs/Cobol85/ExecSql/ExecSqlWithFromClause.rdzSQL.txt
  TypeCobol/AntlrGrammar/CobolCodeElements.g4
  TypeCobol/Compiler/CodeElements/Expressions/StorageArea.cs
  TypeCobol/Compiler/CodeElements/Expressions/SymbolType.cs
  TypeCobol/Compiler/Sql/CodeElements/SqlCodeElementBuilder.cs
  TypeCobol/Compiler/Sql/Model/SqlExpression.cs
  TypeCobol/Compiler/Sql/Model/TableReference.cs
  TypeCobol/Compiler/Sql/Scanner/SqlScanner.cs
Labels: 🔍 Ready for Review

#2250 WI #2228 Integrate Host Variable
  TypeCobol/AntlrGrammar/CobolCodeElements.g4
  TypeCobol/Compiler/Sql/CodeElements/SqlCodeElementBuilder.cs
  TypeCobol/Compiler/Sql/Model/SqlVariable.cs
Labels: 🔍 Ready for Review, SQL Parser
