Repository TypeCobolTeam/TypeCobol, pull requests merged in 2022-07, with the labels that each got.

#2263 WI #2245 Integrate ReleaseSavepoint Statement
  TypeCobol.LanguageServer.Test/LSRTests/EmptyExecStatement/input/EmptyExecStatement.tlsp
  TypeCobol.Test/Parser/Programs/Cobol85/ExecSql/ExecInDataDivision_NoEndExec.rdzMix.txt
  TypeCobol.Test/Parser/Programs/Cobol85/ExecSql/ExecSqlWithReleaseSavepointStatement.rdz.cbl
  TypeCobol.Test/Parser/Programs/Cobol85/ExecSql/ExecSqlWithReleaseSavepointStatement.rdzSQL.txt
  TypeCobol.Test/Utils/Comparator.cs
  TypeCobol/AntlrGrammar/CobolCodeElements.g4
  TypeCobol/Compiler/CodeElements/CobolLanguageLevelVisitor.cs
  TypeCobol/Compiler/CodeElements/CodeElementType.cs
  TypeCobol/Compiler/CodeElements/StatementElement.cs
  TypeCobol/Compiler/CupParser/EmptyTypeCobolProgram.cup
  TypeCobol/Compiler/CupParser/NodeBuilder/IProgramClassBuilder.cs
  TypeCobol/Compiler/CupParser/NodeBuilder/ProgramClassBuilder.cs
  TypeCobol/Compiler/CupParser/NodeBuilder/ProgramClassBuilderNodeDispatcher.cs
  TypeCobol/Compiler/CupParser/NodeBuilder/ProgramClassBuilderNodeListener.cs
  TypeCobol/Compiler/CupParser/TypeCobolProgram.cup
  TypeCobol/Compiler/CupParser/TypeCobolProgramParser.cs
  TypeCobol/Compiler/CupParser/TypeCobolProgramSymbols.cs
  TypeCobol/Compiler/Parser/CodeElementBuilder/CobolCodeElementBuilder.cs
  TypeCobol/Compiler/Sql/CodeElements/SqlCodeElementBuilder.cs
  TypeCobol/Compiler/Sql/CodeElements/SqlStatementElement.cs
  TypeCobol/Compiler/Sql/CodeElements/Statements/ReleaseSavepointStatement.cs
  TypeCobol/Compiler/Sql/Nodes/ReleaseSavepoint.cs
Labels: SQL Parser

#2257 WI #2243 Integrate Savepoint Statement
  TypeCobol.LanguageServer.Test/LSRTests/EmptyExecStatement/input/EmptyExecStatement.tlsp
  TypeCobol.Test/Parser/Programs/Cobol85/ExecSql/ExecInDataDivision_NoEndExec.rdzMix.txt
  TypeCobol.Test/Parser/Programs/Cobol85/ExecSql/ExecSqlWithSavepointStatement.rdz.cbl
  TypeCobol.Test/Parser/Programs/Cobol85/ExecSql/ExecSqlWithSavepointStatement.rdzSQL.txt
  TypeCobol.Test/Utils/Comparator.cs
  TypeCobol/AntlrGrammar/CobolCodeElements.g4
  TypeCobol/Compiler/CodeElements/CobolLanguageLevelVisitor.cs
  TypeCobol/Compiler/CodeElements/CodeElementType.cs
  TypeCobol/Compiler/CodeElements/StatementElement.cs
  TypeCobol/Compiler/CupParser/EmptyTypeCobolProgram.cup
  TypeCobol/Compiler/CupParser/NodeBuilder/IProgramClassBuilder.cs
  TypeCobol/Compiler/CupParser/NodeBuilder/ProgramClassBuilder.cs
  TypeCobol/Compiler/CupParser/NodeBuilder/ProgramClassBuilderNodeDispatcher.cs
  TypeCobol/Compiler/CupParser/NodeBuilder/ProgramClassBuilderNodeListener.cs
  TypeCobol/Compiler/CupParser/TypeCobolProgram.cup
  TypeCobol/Compiler/CupParser/TypeCobolProgramParser.cs
  TypeCobol/Compiler/CupParser/TypeCobolProgramSymbols.cs
  TypeCobol/Compiler/Parser/CodeElementBuilder/CobolCodeElementBuilder.cs
  TypeCobol/Compiler/Sql/CodeElements/SqlCodeElementBuilder.cs
  TypeCobol/Compiler/Sql/CodeElements/SqlCodeElementCheckers.cs
  TypeCobol/Compiler/Sql/CodeElements/SqlStatementElement.cs
  TypeCobol/Compiler/Sql/CodeElements/Statements/SavepointStatement.cs
  TypeCobol/Compiler/Sql/Nodes/Savepoint.cs
Labels: SQL Parser

#2267 WI #2247 Integrate ConnectStatement
  TypeCobol.LanguageServer.Test/LSRTests/EmptyExecStatement/input/EmptyExecStatement.tlsp
  TypeCobol.Test/Parser/Programs/Cobol85/ExecSql/ExecInDataDivision_NoEndExec.rdzMix.txt
  TypeCobol.Test/Parser/Programs/Cobol85/ExecSql/ExecSqlWithConnectStatement.rdz.cbl
  TypeCobol.Test/Parser/Programs/Cobol85/ExecSql/ExecSqlWithConnectStatement.rdzSQL.txt
  TypeCobol.Test/Utils/Comparator.cs
  TypeCobol/AntlrGrammar/CobolCodeElements.g4
  TypeCobol/Compiler/CodeElements/CobolLanguageLevelVisitor.cs
  TypeCobol/Compiler/CodeElements/CodeElementType.cs
  TypeCobol/Compiler/CodeElements/StatementElement.cs
  TypeCobol/Compiler/CupParser/EmptyTypeCobolProgram.cup
  TypeCobol/Compiler/CupParser/NodeBuilder/IProgramClassBuilder.cs
  TypeCobol/Compiler/CupParser/NodeBuilder/ProgramClassBuilder.cs
  TypeCobol/Compiler/CupParser/NodeBuilder/ProgramClassBuilderNodeDispatcher.cs
  TypeCobol/Compiler/CupParser/NodeBuilder/ProgramClassBuilderNodeListener.cs
  TypeCobol/Compiler/CupParser/TypeCobolProgram.cup
  TypeCobol/Compiler/CupParser/TypeCobolProgramParser.cs
  TypeCobol/Compiler/CupParser/TypeCobolProgramSymbols.cs
  TypeCobol/Compiler/Parser/CodeElementBuilder/CobolCodeElementBuilder.cs
  TypeCobol/Compiler/Sql/CodeElements/SqlCodeElementBuilder.cs
  TypeCobol/Compiler/Sql/CodeElements/Statements/ConnectStatement.cs
  TypeCobol/Compiler/Sql/Model/ConnectionTarget.cs
  TypeCobol/Compiler/Sql/Nodes/Connect.cs
  TypeCobol/Compiler/Sql/VisitorPattern.cs
Labels: SQL Parser

#2260 WI #2244 Integrate DropTableStatement
  TypeCobol.LanguageServer.Test/LSRTests/EmptyExecStatement/input/EmptyExecStatement.tlsp
  TypeCobol.Test/Parser/Programs/Cobol85/ExecSql/ExecInDataDivision_NoEndExec.rdzMix.txt
  TypeCobol.Test/Parser/Programs/Cobol85/ExecSql/ExecSqlWithDropTableStatement.rdz.cbl
  TypeCobol.Test/Parser/Programs/Cobol85/ExecSql/ExecSqlWithDropTableStatement.rdzSQL.txt
  TypeCobol.Test/Utils/Comparator.cs
  TypeCobol/AntlrGrammar/CobolCodeElements.g4
  TypeCobol/Compiler/CodeElements/CobolLanguageLevelVisitor.cs
  TypeCobol/Compiler/CodeElements/CodeElementType.cs
  TypeCobol/Compiler/CodeElements/StatementElement.cs
  TypeCobol/Compiler/CupParser/EmptyTypeCobolProgram.cup
  TypeCobol/Compiler/CupParser/NodeBuilder/IProgramClassBuilder.cs
  TypeCobol/Compiler/CupParser/NodeBuilder/ProgramClassBuilder.cs
  TypeCobol/Compiler/CupParser/NodeBuilder/ProgramClassBuilderNodeDispatcher.cs
  TypeCobol/Compiler/CupParser/NodeBuilder/ProgramClassBuilderNodeListener.cs
  TypeCobol/Compiler/CupParser/TypeCobolProgram.cup
  TypeCobol/Compiler/CupParser/TypeCobolProgramParser.cs
  TypeCobol/Compiler/CupParser/TypeCobolProgramSymbols.cs
  TypeCobol/Compiler/Parser/CodeElementBuilder/CobolCodeElementBuilder.cs
  TypeCobol/Compiler/Sql/CodeElements/SqlCodeElementBuilder.cs
  TypeCobol/Compiler/Sql/CodeElements/SqlStatementElement.cs
  TypeCobol/Compiler/Sql/CodeElements/Statements/DropTableStatement.cs
  TypeCobol/Compiler/Sql/Nodes/DropTable.cs
Labels: 🔍 Ready for Review, SQL Parser

#2288 WI #2226 Reset CompilerDirective builder between directives on same line
  TypeCobol.Test/Parser/Preprocessor/DirectiveResultFiles/Copy.txt
  TypeCobol.Test/Parser/Preprocessor/DirectiveTestFiles/Copy.cbl
  TypeCobol/Compiler/CupPreprocessor/CompilerDirectiveBuilder.cs
  TypeCobol/Compiler/Preprocessor/PreprocessorStep.cs
Labels: 🔍 Ready for Review

#2290 WI #2234 Emit warning for statements across source files in pure Cobol mode
  TypeCobol.Test/Parser/Limitations/SourceAcrossFiles/SourceAcrossFiles1.rdz.cbl
  TypeCobol.Test/Parser/Limitations/SourceAcrossFiles/SourceAcrossFiles1.rdzPGM.txt
  TypeCobol.Test/Parser/Limitations/SourceAcrossFiles/SourceAcrossFiles1PictureClause.cpy
  TypeCobol.Test/Parser/Limitations/SourceAcrossFiles/SourceAcrossFiles2.rdz.cbl
  TypeCobol.Test/Parser/Limitations/SourceAcrossFiles/SourceAcrossFiles2.rdzPGM.txt
  TypeCobol.Test/Parser/Limitations/SourceAcrossFiles/SourceAcrossFiles2ToA.cpy
  TypeCobol.Test/Parser/Limitations/SourceAcrossFiles/SourceAcrossFiles3.rdz.cbl
  TypeCobol.Test/Parser/Limitations/SourceAcrossFiles/SourceAcrossFiles3.rdzPGM.txt
  TypeCobol.Test/Parser/Limitations/SourceAcrossFiles/SourceAcrossFiles3Replace.cpy
  TypeCobol.Test/Parser/Limitations/SourceAcrossFilesNoTC/SourceAcrossFiles1.rdz.cbl
  TypeCobol.Test/Parser/Limitations/SourceAcrossFilesNoTC/SourceAcrossFiles1.rdzPGM.txt
  TypeCobol.Test/Parser/Limitations/SourceAcrossFilesNoTC/SourceAcrossFiles1PictureClause.cpy
  TypeCobol.Test/Parser/Limitations/SourceAcrossFilesNoTC/SourceAcrossFiles2.rdz.cbl
  TypeCobol.Test/Parser/Limitations/SourceAcrossFilesNoTC/SourceAcrossFiles2.rdzPGM.txt
  TypeCobol.Test/Parser/Limitations/SourceAcrossFilesNoTC/SourceAcrossFiles2ToA.cpy
  TypeCobol.Test/Parser/Limitations/SourceAcrossFilesNoTC/SourceAcrossFiles3.rdz.cbl
  TypeCobol.Test/Parser/Limitations/SourceAcrossFilesNoTC/SourceAcrossFiles3.rdzPGM.txt
  TypeCobol.Test/Parser/Limitations/SourceAcrossFilesNoTC/SourceAcrossFiles3Replace.cpy
  TypeCobol.Test/TestCollection.cs
  TypeCobol/Compiler/Parser/CodeElementsParserStep.cs
Labels: 🔍 Ready for Review
